<%= form_with(model: topic, html: {class:'dropzone', id: "item-dropzone"}) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dz-message needsclick">
    <h3>Drop file here</h3> or
    <strong>Click</strong> to upload
  </div>
  <div class="fallback">
    <%= form.file_field :image %>
    <%= form.submit 'upload the image' %>
  </div>

<% end %>
